
*{
    font-size:17px
}
body {
    /* uigradients.com */
    background: #FC5C7D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #6A82FB, #FC5C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Delicious Handrawn', cursive,  sans-serif;
}

main{
    width:80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:0.6em
}

button {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background-color: rgb(11, 215, 76);
    border: 1px solid black;
    cursor: pointer;
}

.fun {
background: #DA4453;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #89216B, #DA4453);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #89216B, #DA4453); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.topic{
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    text-shadow: 1px 2px 4px black;
    margin:-1rem;
    width:100%;
    text-align: center;
}

.questionTriggered{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

p{
    display: inline-block;
    padding:0.4em;
    margin-top:-0.1em;
    margin-bottom:1em;
    font-size: 1.8rem;
    color:#00ff00;
    text-shadow: 1px 2px 2px black;
    border-bottom: 5px solid ;
    border-top: 5px solid ;
    border-radius: 4%;
    width:80%;
    text-align: center;
    font-style: italic;
    letter-spacing:0.1rem;
}
img{
    width:100%;
    max-width:450px;
    max-height: 450px ;
    margin-bottom: 1.1em;
    
}

h4{
    font-size:1.4rem;
    margin-top:1em;
    margin-bottom:0.2em
}
h1{
    margin:0.4em
}
#title{
    margin:1em;
    font-size:1.6rem
}

h2{
    font-weight: 500;
    font-size:1.7rem;
}
.back{
    background-color: red;
    border: 1px solid darkred;
}