
*{
    font-size:50px
}
body {
    /* uigradients.com */
    background: #FC5C7D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #6A82FB, #FC5C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Delicious Handrawn', cursive,  sans-serif;
}

main{
    width:80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:0.6em
}

button {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: red;
    border: 1px solid darkred;
    cursor: pointer;
}

.fun {
background: #DA4453;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #89216B, #DA4453);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #89216B, #DA4453); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.topic{
    font-weight: bold;
    font-size: 1.2em;
    color: white;
    text-shadow: 1px 2px 4px black;
}

.questionTriggered{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

p{
    padding:0.2em;
    margin-top:-0.1em;
    margin-bottom:1em;
    font-size: 1.7em;
    color:#00ff00;
    text-shadow: 1px 2px 2px black;
    border-bottom: 3px solid ;
    border-top: 3px solid ;
    border-radius: 3%;
    width:80%
}
img{
    width:80%;
    margin-bottom: 1.1em;
    
}

h4{
    font-size:1.4em;
    margin-top:1em;
    margin-bottom:0.2em
}
h1{
    margin:0.4em
}
#title{
    margin:1em;
    font-size:1.5rem
}
